@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-row.fc-week.fc-widget-content {
    height: 100px !important;
}
.fc-scroller {
    height: 460px !important;
}
@media (prefers-color-scheme: dark) {
    .fc-toolbar {
        color: white;
    }
}
