@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-row.fc-week.fc-widget-content {
    height: 100px !important;
}
.fc-scroller {
    height: 460px !important;
}
@media (prefers-color-scheme: dark) {
    .fc-toolbar {
        color: white;
    }
}
.stars-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 100;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: blink 3s linear infinite;
}
@keyframes blink {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
